.header {
  height: 64px;
  border-bottom: 1px solid #e5e7eb;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 48px;
}

.logo {
  font-size: 22px;
  font-weight: 700;
}
